<p id="notice"><%= notice %></p>
<h1><%=  @board.title %></h1>

<hr />
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<div class = "header-title containfeature"> 
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#listModal">
    ADD list
  </button>

  <%= link_to 'Add Member', new_board_boardmember_path %>
    <%= render partial: 'lists/form', locals: {list: List.new} %>  

   
      <h2 class="center"> LIST </h2>
      
      <div class="kolom" id ="items" >
        <% @lists.each do |list| %>
          <%= render partial: 'lists/item', locals: {list: list} %>
          
                
        <% end %>

    </div>
  </div>
</div>

 
<%#= tag.div id: :boards, data: { lists: @lists.to_json(include: :cards) } %>




