<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mynav">
  <div  id="sidebarCollapse" >
   	<i class="fa fa-align-justify"></i> 
  </div>
		   
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
  <%= form_tag boards_path, class: "container form-inline fixed top", style:"text-align: center;", :method => 'get' do %>
          <div align="container flex-end" style="padding: 6px;">  <%= text_field_tag :search, params[:search], class: 'form-control',type:"search", size: '160px', style: "margin:0px; min-width:160px; width:65%;", placeholder:"Search" %>
            <button class="btn btn-outline-success my-2 my-sm-0 " type="submit_tag"><i class="fa fa-search"></i></button>
          </div> 
      <% end %>
    <ul class="navbar-nav ml-auto" style="margin:0 18px;">
      <li>
      
      
      <li class="nav-item active" style= "padding: ">
        <a class="nav-link" href="#"><i class="btn  btn-md fa fa-bell"></i> <span class="sr-only">(current)</span></a>
        <li class="nav-item">
        <div class="btn btn-sm dropdown dropleft ">
          <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag user_avatar(current_user, 30), class: "rounded-circle", style:"padding:6px;"%>
          </a>

            <div class=" dropdown-menu"    aria-labelledby="dropdownMenuLink"  >
            <div class="d-flex flex col-lg-12">
            <%= image_tag user_avatar(current_user, 100), class: " rounded-circle img-responsive display-img", style: "height: 100%;"%>
             <div class="d-flex col-sm-9">
                <div class="dropdown-header">
        
                  <h6><%= current_user.username%></h6> <h6><%= current_user.email%></h6>
          
                  <%=link_to "Kelola Akun Kamu", edit_user_registration_path,class:'link'%> 
                 
               </div>
             
              </div>
           
            </div>
            <hr size="5px">
              <%= link_to('Logout', destroy_user_session_path,:method =>:delete, class:' fas fa fa-sign-out dropdown-item  ') %> &nbsp;
              
      </li>
      
      </ul>
